/* body {
    background: #3d3d3d
} */

body {
    background-image: url('https://wallpapercave.com/wp/wp2763910.gif');
    background-repeat: repeat;
    background-blend-mode:darken;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans TC', sans-serif;
    color: #fff;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

img {
    max-width: 100%;
}

h1,
p,
.lower btn {
    opacity: 0;
    visibility: hidden;
}

/*banner*/
#intro .jumbotron {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 70vh;
    margin-bottom: 0px;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: auto;
}

#intro .jumbotron .container {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#intro .btn {
    margin-top: 20px;
}

.btn:hover {
    opacity: 0.8;
    background-color: aquamarine !important;
    color: #fff;
}

.btn::after {
    color: #fff;
}

.button_link {
    color: #0dcaf0;
    text-decoration: none;
}

.intro_span {
    background-color: #2f3136;
}

/*banner ends*/


/*features*/
hr {
    height: 2px;
    background-color: rgb(103, 216, 239);
    border-color: rgb(115, 199, 222);
}

hr {
    margin: 20px !important;
}

.features {
    text-align: center;
}

#image_command_card {
    background-color: #3d3d3d;
}

#pills-tab {
    text-align: center;
    margin: auto;
    padding: auto;
}

#table {
    text-align: center;
    margin: auto;
    padding: auto;
}

tr {
    color: white;
}

.fun_command {
    display: flex;
}

.fun_commmand_image {
    padding-left: 20px;
}

.fun_command_text {
    font-size: 20px;
    padding-right: 15px;
}

.features-box .features-t {
    font-size: 70px;
    text-align: center;
    margin-bottom: 50px;
    color:yellow;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features .feature {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 30px 0;
}

.feature .feature-img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.feature .feature-info {
    max-width: 400px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
}

.feature .feature-info .feature-info-d {
    color: white;
}

.feature .feature-info .feature-info-t {
    font-size: 30px;
    font-weight: bold;
    border-style: inherit;
    border-width: 1ch;
    border-color: #f05f5c;
}

.features_line {
    height: 2px;
    background-color: rgb(103, 216, 239);
    border-color: rgb(115, 199, 222);
}

.slash_img {
    width: 300px;
    height: 250px;
    margin: 0 auto;
}

.soundboard_img {
    width: 300px;
    height: 150px;
    margin: 0 auto;
}

.learn_img {
    width: 100%;
    max-width: 500px;
    height: 320px;
    margin-top: 40px;
    margin-left: 54px;
}
/*features ends*/


/*footer*/
footer {
    padding: 40px 0px;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.09);
}

footer img {
    margin-bottom: 15px;
    margin-right: 40px;
}
footer ul {
    list-style: none;
    padding: 0;
}

footer ul a {
    color:#2f3136;
}

footer a {
    color: #f05f5c;
}

footer a:hover {
    color: #f05f5c;
}

footer ul a:hover {
    color: #707070;
    text-decoration: none;
    opacity: 0.8;
}

footer ul li {
    margin-bottom: 10px;
    font-size: 25px;
    margin-left: 31px;
}

footer ul {
    float: left;
    margin-right: 46px;
}

footer h4 {
    font-size: 32px;
    border-style: dotted;
    border-width: 0.2ch;
    border-color: greenyellow;
    border-width: 0.2cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2f3136;
    text-align: center;
}

.fa {
    /* padding: 40px;
    font-size: 10px;
    width: 20px; */
    text-align: right;
    text-decoration-color: none;
    text-size-adjust: initial;
}

/*footer ends*/


/*mobile*/
@media (max-width: 992px) {
    .features-box .features-t {
        font-size: 20px;
        text-align: center;
    }

    .feature-info .feature-info-t,
    .feature-info .feature-info-d {
        text-align: center;
    }

    .features .feature {
        flex-direction: column;
    }

    .features .feature:nth-child(2) {
        flex-direction: column;
    }

    hr {
        height: 2px;
        background-color: rgb(103, 216, 239);
        border-color: rgb(115, 199, 222);
    }

    hr {
        margin: 10px !important;
    }

    .learn_img{
        margin: auto;
        padding: auto;
    }
}
/*mobile ends*/
